@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --bg-primary:  255, 251, 233;
  }
  @font-face {
    font-family: "ITC";
    font-style: normal;
    font-weight: 200;
    src: local("DM Sans Medium"),
      url("/fonts/Outfit-Regular.ttf");
  }
}
@layer components {
  .background: '#FFFBE9';
  .container {
    @apply max-w-7xl;
  }
  .container-wide {
    @apply max-w-screen-2xl;
  }
  .container-copy {
    @apply max-w-3xl;
  }
  .container-narrow {
    @apply max-w-xl;
  }
  .ultratitle {
    @apply text-6xl lg:text-7xl xl:text-8xl font-bold;
  }
  .title {
    @apply text-5xl lg:text-6xl xl:text-7xl font-bold;
  }
  .subtitle {
    @apply mt-3 text-3xl lg:text-4xl;
  }
  .headline {
    @apply text-5xl mt-3 mb-3;
  }
  .subheadline {
    @apply text-3xl mt-0 mb-3;
  }
  .eyebrow {
    @apply text-gray-400 text-4xl lg:text-5xl uppercase mt-0 mb-2;
  }
  .lead {
    @apply text-3xl lg:text-4xl my-2 lg:my-3;
  }
  .caption {
    @apply text-gray-400 font-medium;
  }
  .btn {
    @apply rounded-md bg-blue-300 dark:bg-blue-500 p-2 px-4;
  }
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* Testimonial */
.testimonial {
  text-align: center;
  width: 85%;
  max-width: 1180px;
  margin-inline: auto;
  padding-block: 5rem;
}

.slide__img-container {
  width: 100%;
  position: relative;
  padding: 3.5rem;
  margin-bottom: 8rem;
  background: url(/images/pattern-bg.svg) no-repeat center/contain;
}

.testimonial__photo {
  display: block;
  width: 100%;
  border-radius: 5px;
  max-height: 0;
}

.testimonial__photo--active {
  max-height: 100%;
  box-shadow: var(--shadow-image);
}

.testimonial__content-container {
  position: relative;
}

.testimonial__content-container::before {
  content: "";
  position: absolute;
  height: 65px;
  width: 65px;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  background: url(/images/pattern-quotes.svg) no-repeat center/contain;
}

.testimonial__content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.testimonial__content--active {
  opacity: 1;
  max-height: 100vh;
}

.testimonial__text {
  font-size: var(--fs-400);
  padding-bottom: 2rem;
  line-height: 1.4;
  quotes: '"' '"';
}

.testimonial__text::before {
  content: open-quote;
  font-style: italic;
}

.testimonial__text::after {
  content: close-quote;
  font-style: italic;
}

.testimonial__job {
  font-size: var(--fs-300);
  font-weight: 500;
  color: #FFF;
}

/* Slider buttons */
.slider__buttons {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background);
  width: 8rem;
  padding: 1.2rem 1.5rem;
  border-radius: 50px;
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: var(--shadow-image);
}

.btn1 {
  height: 14px;
  width: 9px;
  cursor: pointer;
}

/* Attribution */
.attribution {
  position: absolute;
  width: 100%;
  bottom: 1px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  .testimonial {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    padding-block: 0;
  }

  .slide__img-container {
    width: 50%;
    margin-bottom: 0;
    transform: translateX(-10%);
  }

  .testimonial__content-container {
    width: 50%;
    transform: translateX(10%);
  }

  .testimonial__content-container::before {
    width: 100px;
    height: 100px;
    left: 20%;
    top: -50px;
  }
  .testimonial__text {
    font-size: min(0.5rem + 1.8vw, var(--fs-xl));
  }

  .slider__buttons {
    left: 20%;
  }
}

@media screen and (min-width: 900px) {
  .testimonial__author {
    display: flex;
    gap: 1rem;
  }

  .testimonial__author > * {
    font-size: var(--fs-400);
  }

  .slide__img-container {
    padding: 6rem;
  }

  .slider__buttons {
    bottom: 40px;
  }
}



@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);

  }
}
.animated {
  animation: fade 0.35s ease-in-out;
}

.testimonial__photo--active,.testimonial__content--active {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}




.container1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-wrap {
  color:white;
  font-size: 17px;

  line-height: 34px;
  display: flex;
  height: 34px;
}


.left-text {
  color: #000;
}

.right-text {
  margin-left: 5px;
  overflow: hidden;

  color: #000;

}

.flip-wrap {
  animation: flip 8s infinite;
  margin-top: -136px;
}

.flip {
  font-weight: bold;
}


@keyframes flip {

  from {
    margin-top: 0px;
  }
  3% {margin-top: -34px;}

  25% {margin-top: -34px;}
  28% {margin-top: -68px;}

  50% {margin-top: -68px;}
  53% {margin-top: -102px;}

  75% {margin-top: -102px;}
  78% {margin-top: -136px;}

  to {
    margin-top: -136px;
  }
}


@media screen and (min-width: 400px){
  .title-wrap {
    font-size: 19px;
  }
}
@media screen and (min-width: 475px){
  .title-wrap {
    font-size: 22px;
  }
}
@media screen and (min-width: 600px){
  .title-wrap {
    font-size: 28px;
  }
}

.container1 {
	max-width: 1140px;
	width: 100%;
	margin: auto;
	padding: 0 15px;
}
.sec-title {
	margin-bottom: 50px;
	padding-bottom: 15px;
	position: relative;
}
.sec-title::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 3px;
	background: #000;
}
.sec-title h2 {
	font-size: 60px;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	letter-spacing: 0px;
	text-transform: uppercase;
	color: var(--blue);
}
.sec-title p {
	font-size: 18px;
	line-height: 28px;
}
.testimonial-area {
	background: var(--blue);
	position: relative;
	z-index: 2;
	padding: 50px 0;
}
.testimonial-area .owl-carousel {
	overflow: hidden;
	padding: 0 20px;
	margin: 0px -40px;
	padding-right: 40px;
}
.testimonial-area .owl-stage-outer {
	padding: 30px 50px;
	margin-left: -34px;
	width: calc(100% + 100px);
}
.single-testimonial {
	border: 7px solid #fff;
	text-align: center;
	border-radius: 45px;
	position: relative;
	z-index: 2;
}
.single-testimonial p {
	color: #fff;
	font-size: 15px;
	line-height: 24px;
	padding: 50px;
	padding-bottom: 30px;
	position: relative;
	z-index: 3;
}
.single-testimonial::before {
	content: "";
	position: absolute;
	left: -35px;
	top: -35px;
	background: url(https://i.ibb.co/nb8Hjms/quote.png) no-repeat var(--blue);
	background-size: 60%;
	width: 126px;
	height: 100px;
	transform: rotate(180deg);
	background-position: 34px 15px;
}
.single-testimonial::after {
	content: "";
	position: absolute;
	right: -35px;
	bottom: -34px;
	background: url(https://i.ibb.co/nb8Hjms/quote.png) no-repeat var(--blue);
	background-size: 60%;
	width: 126px;
	height: 100px;
	background-position: 34px 19px;
}
.round {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.round-1::before {
	content: "";
	position: absolute;
	left: 88px;
	top: -7px;
	width: 50px;
	height: 7px;
	background: #fff;
	border-radius: 30px;
}
.round-1::after {
	content: "";
	position: absolute;
	left: -7px;
	top: 62px;
	width: 7px;
	height: 50px;
	background: #fff;
	border-radius: 30px;
}
.round-2::before {
	content: "";
	position: absolute;
	right: 87px;
	bottom: -7px;
	width: 50px;
	height: 7px;
	background: #fff;
	border-radius: 30px;
	z-index: 1;
}
.round-2::after {
	content: "";
	position: absolute;
	right: -7px;
	bottom: 62px;
	width: 7px;
	height: 50px;
	background: #fff;
	border-radius: 30px;
	z-index: 1;
}
.client-video {
	padding-right: 15px;
}
.client-info {
	position: relative;
	z-index: 3;
}
.client-info a {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
	font-size: 22px;
}
.client-info {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	padding-bottom: 50px;
}
.client-info h6 {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
}
.client-info span {
	display: inline-block;
	color: #fff;
	font-size: 12px;
}
.sec-title.white-title h2 {
	color: #fff;
}
.owl-dots button {
	background: #fff !important;
	width: 10px;
	height: 10px;
	border-radius: 26px;
	margin: 0 5px;
	transition: 0.3s;
}
.owl-dots {
	text-align: center;
	margin-top: 50px;
}
.owl-dots button.active {
	width: 30px;
}


.button1 {
  color: #121212;
  border: 2px solid #252525;
  background: #fafafa;
  box-shadow: 3px 3px #252525;
  cursor: pointer;
}

.button1:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}
.button2 {
  color: #fafafa;
  border: 2px solid #524f4f;
  background: #121212;
  box-shadow: 3px 3px #524f4f;
  cursor: pointer;
}

.button2:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

